<div class="filter">
  <mat-form-field appearance="fill">
    <mat-label>Estados</mat-label>
    <mat-select [formControl]="states" multiple>
      <mat-option *ngFor="let state of statesList" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ano</mat-label>
    <mat-select [formControl]="years" multiple>
      <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button (click)="onFilter()">Filtrar</button>
  </div>
</div>
<div>

</div>

<table mat-table [dataSource]="dadosEstado | async" class="mat-elevation-z8">

  <ng-container matColumnDef="trimestre">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let dadoEstado"> {{dadoEstado.trimestre}} </td>
  </ng-container>

  <ng-container matColumnDef="receita">
    <th mat-header-cell *matHeaderCellDef> Receita </th>
    <td mat-cell *matCellDef="let dadoEstado"> {{dadoEstado.totalReceita}} </td>
  </ng-container>

  <ng-container matColumnDef="despesa">
    <th mat-header-cell *matHeaderCellDef> Despesa </th>
    <td mat-cell *matCellDef="let dadoEstado"> {{dadoEstado.totalDespesa}} </td>
  </ng-container>

  <ng-container matColumnDef="lucro">
    <th mat-header-cell *matHeaderCellDef> Lucro </th>
    <td mat-cell *matCellDef="let dadoEstado"> {{dadoEstado.totalReceita - dadoEstado.totalDespesa}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let dadoEstado"> <div class="circle"></div> {{dadoEstado.meta | number : '1.1-2'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<highcharts-chart
   [Highcharts] = "highcharts"
   [options] = "chartOptions"
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>
<pre>
  {{chartOptions | json}}
</pre>

