.filter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.circle-green {
  background: green;
}
.circle-yellow {
  background: yellow;
}
.circle-red {
  background: red;
}

.negative{
  color: red;
}

